h1 {
    font-family: cursive;
    color: white;
    background-color: black;
    padding: 10px;
    text-align: justify;
    text-size-adjust: large;
}
h2 {
    margin-top: -15px;
    font-style: italic;
    font-family: arial;
    color: white;
    background-color: blueviolet;
    text-align: center;
}
h3 {
    margin-top: -15px;
    padding: 10px;
    color: purple;
    background-color: lightblue;
    text-align: right;
}
.blue-text {
    color: aqua;
}